
@use 'variaveis';

.hero {
    padding: 5vw;
    min-height:80vh;
    background-image: url(../images/1048-3016x1500.jpg); /*'http://picsum.photos/id/1048/3016/1500' */
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0;
    justify-content: space-around;

    @media (max-width: 768px) {
        background-image: url(../images/1048-3016x1500.jpg);
        padding-top: calc(50vw + 25px);
        background-size: cover;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 512px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 64px;
            text-align: center;
        }

        p {
            margin: 20px;
        }

        .text--small {
            color: variaveis.$corTextoSecundario
        }
        
        p {
            margin-bottom: 50px;
            text-align: center;

            &:last-child {
                margin-top: 60px;
                font-weight: bold;
            }
        }
    }
}
