
@use 'variaveis';

.hero {
    padding: 5vw;
    min-height:80vh;
    background-image: url('http://picsum.photos/id/1048/3016/1500'); /*'http://picsum.photos/id/1048/3016/1500' */
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0;
    justify-content: space-around;

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 100%;

        &__branding {
            max-width: 100%;
            margin: 0;
        }

        p {
            margin: 0 133px;
            
        }

        .title--big {
            margin-bottom: 34px;
        }

        .text--small {
            color: variaveis.$corTextoSecundario
        }
        
        p {
            margin-bottom: 50px;

            &:last-child {
                margin-top: 60px;
                font-weight: bold;
            }
        }
    }
}
