.plans {
    padding: 5vw;
    
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px) {
            display: block;
        }

        
        &__item {
            text-align: center;
            padding: 20px 20px 20px;    
            list-style: none;
            
            img {
                height: 160px;
                width: 100%;
            }

            strong {
                display: block;
            }

        }
    }
}

p {
    text-align: center;
    margin-top: 2vw;
}
