$corDeFundo: #f8f4f4;
$corTextoPrincipal: #000;
$corTextoSecundario: red;
$corTextoButton: red;
$corTextoHover:  #353333;
$corFundoButtonPrimario: #fff;
$corFundoButtonSecundario: silver;
$corFundoButtonDark: #000;
