$corDeFundo: #e6e3e3;
$corTextoPrincipal: red;
$corTextoSecundario: #181818;
$corTextoButton: red;
$corTextoHover:  #353333;
$corFundoButtonPrimario: #e6e3e3;
$corFundoButtonSecundario: #353333;
$corFundoButtonDark: #000;
