@use 'variaveis';
@use 'hero';
@use 'plans';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 24px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 24px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(34px);
    color: variaveis.$corTextoSecundario
}

.text {
    @include text(24px);
    color: variaveis.$corTextoSecundario
}

.text--small {
    @include text(16px);
    font-weight: bold;
    color: variaveis.$corTextoSecundario
}

.title--big {
    @include title(48px);
}

.title {
    @include title(36px);
}

.title--small {
    @include title(24px);
}

.button {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: variaveis.$corTextoButton;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    font-weight: bold;
}

