@use 'variaveis';
@use 'hero';
@use 'plans';
@use 'watch-anywhere';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 24px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 24px) {
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
    color: variaveis.$corTextoPrincipal;
}

.text {
    @include text(14px);
    color: variaveis.$corTextoPrincipal;
}

.text--small {
    @include text(12px);
    font-weight: bold;
    color: variaveis.$corTextoPrincipal;
}

.title--big {
    @include title(48px);
}

.title {
    @include title(36px);
}

.title--small {
    @include title(24px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: variaveis.$corTextoButton;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corFundoButtonPrimario;

    &:hover {
        background-color: lighten(variaveis.$corFundoButtonPrimario, 3%);
    }

    &--secondary {
        background-color: variaveis.$corFundoButtonSecundario;
        border-color: variaveis.$corFundoButtonSecundario;

        &:hover {
            background-color: lighten(variaveis.$corFundoButtonSecundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$corFundoButtonDark, 0.8);
        border-color: variaveis.$corFundoButtonSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}

